.body {}

.section {
    width: 100%;

    height: 100vh;
    display: flex;

    background-color: #0d0e0d;
}

#kisahku {
    overflow: auto;
}

.section:nth-child(odd) {
    background-color: #b60000;
}

.section:nth-child(even) {
    background-color: #e4e3ce;
}

.jumbotron {
    /* background-image: url(3.jpeg); */
    background-size: contain;

}

.jumbotron {
    height: 100%;

    text-align: center;

}